<footer class="row row-cols-5 py-5 my-5 border-top">
  <div class="col">
    <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <p class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> SAN JUSTO(S.F.)ARG.</font></font></p>
  </div>

  <div class="col">

  </div>

  <div class="col">
    <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></h5>
    
  </div>

  <div class="col">
    <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font>
  </div>

  <div class="col">
    <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Secciones</font></font></h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="contacto" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contacto</font></font></a></li>
      <li class="nav-item mb-2"><a href="publicaciones" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Publicaciones</font></font></a></li>
      <li class="nav-item mb-2"><a href="quienessomos" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Quienes somos</font></font></a></li>
      <li class="nav-item mb-2"><a href="productos" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Productos</font></font></a></li>
      <li class="nav-item mb-2"><a href="home" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Inicio</font></font></a></li>
    </ul>
  </div>
</footer>