<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="shortcut icon" href="/img/faviconmariposasola.jpg">
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <link rel="stylesheet" href="custom.css">
</head>
<body class="img_contacto">
    <divclass="card" style="width: 18rem;">
        <img src="/img/mediopelar5.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">ESTABLECIMIENTO SANTA MARTA</h5>
            <p class="card-text">LINEA DE CONSULTAS O SUGERENCIAS    <img class="img_wsp" src="/img/icono_de_wsp2.png" alt="..."> 1234-5678910 </p>
           
        {{!-- </div> <a href="home" class="btn btn-Inicio">INICIO</a> --}}
    </div>
    
    {{> footer}}
</body>
</html>
