<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicaciones</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <link rel="stylesheet" href="custom.css">
 
    
    <link rel="stylesheet" href="mobilefirst.css">
    
    
    
</head>
<body>

    <h1>Mobile First</h1>

    <div class="item1">
        <div>
            <img src="./assets/img/mediopelar.jpg" alt="">
        </div>
        <div>
            <img src="./assets/img/mediopelar.jpg" alt="">
        </div>
        <div>
            <img src="./assets/img/mediopelar.jpg" alt="">
        </div>
        <div>
            <img src="./assets/img/mediopelar.jpg" alt="">
        </div>


    </div>

    <div class="item2">
        <div class="nuezpartida">
            <img src="./assets/img/nuezsola.png" alt="">
        </div>
        <div class="texto">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident aliquid, corrupti dolor ut, vitae facere repudiandae eum deserunt accusamus molestias animi asperiores explicabo. Fugiat sequi nobis inventore quas maxime nihil.
        </div>

    </div>
    <div>
        <div class= "video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KdU5ZClJTKE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>

   
  
    



    
</body>
<footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <p class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© 2021</font></font></p>
    </div>
  
    <div class="col">
  
    </div>
  
    <div class="col">
      <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sección</font></font></h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hogar</font></font></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Características</font></font></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Precios</font></font></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Preguntas frecuentes</font></font></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sobre</font></font></a></li>
      </ul>
    </div>
  
    <div class="col">
      <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sección</font></font></h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hogar</font></font></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Características</font></font></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Precios</font></font></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Preguntas frecuentes</font></font></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sobre</font></font></a></li>
      </ul>
    </div>
  
    <div class="col">
      <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sección</font></font></h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hogar</font></font></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Características</font></font></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Precios</font></font></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Preguntas frecuentes</font></font></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sobre</font></font></a></li>
      </ul>
    </div>

    
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>

  <script src="./js/bootstrap.min.js"></script>
</html>