.navbarHome{
    font-weight: 500;
    font-size: 0.9rem;
    padding-left: 15rem;
    
}

.navbarHome li{

    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.headerImagen{
    background-image: url(/img/cucharanueces.jpg);
    background-repeat: no-repeat;
    align-self: center;
    /* justify-content: flex-start; */
    background-size: cover;
    width: 100vw;
    height: 70vw;
}
.navbar-brand{
    background-image: url(/img/mariposasola.jpg)
       
}

.img-80{
    width: 80%;
    align-self: center;
}

footer{
    background-color: rgb(192, 213, 191);
    font-weight: 500;
    font-size: 0.9rem;
}
.btn-Inicio {
    color: rgb(26, 23, 23);
    background-color: rgb(192, 213, 191);
    border-color: #0e1110;
  }