/* home */



.navbarHome{
    
    font-weight: 500;
    font-size: 0.9rem;
    padding-left: 15rem;
    
    
    
}

/* .navbar-brand{
    /* background-image: url(/img/mariposasola2.png) */
    
    
    
   
/* } */ 

.navbarHome li{

    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.headerImagen{
    margin: 1rem;
}

.img-80{
    width: 80%;
    align-self: center;
}


/* FOOTER */

footer{
    background-color: rgb(192, 213, 191);
    font-weight: 500;
    font-size: 0.9rem;
    padding-left: 0%;
    /* position: absolute; */
    width: 100%;
    bottom: 0px;
    margin-bottom: 0px;
}

.text-muted{
    padding-left: 2rem;
}
/* .btn-Inicio {
    color: rgb(26, 23, 23);
    background-color: rgb(192, 213, 191);
    border-color: #0e1110;
  } */

  /* Contacto */
.img_contacto {
    justify-content: space-evenly;
    padding-left: 1rem;
    padding-right: 1rem;
    
    width: 100vw;
    height: 50vw;
}

.img_wsp{
    height: 10%;
    width: 10%;
    justify-content: center;
}

.card-container{
    grid-template-areas:
    "imagen1 imagen1 imagen2 imagen2"
    "tarjeta1 tarjeta2 tarjeta3 tarjeta4";
}

.imagencard1{
    grid-area: imagen1;
}

.imagencard2{
    grid-area: imagen2;
}

.Card1{
    grid-area: tarjeta1;
}

.Card2{
    grid-area: tarjeta2;
}

.Card3{
    grid-area: tarjeta3;
}

.Card4{
    grid-area: tarjeta4;
}